<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><u></u><h1>{{region.region_name}}</h1></u></center>
    
    <ul>
    {% for candidato in region.candidato_set.all %}
        <li>{{ candidato.candidato_name }} -- {{ candidato.votos }} voto{{ candidato.votos|pluralize }}</li>
    {% endfor %}
    </ul>
    <a href="{% url 'elecciones:resultados' region.id %}">Votar de nuevo</a><br><br>
    <a href="{% url 'elecciones:index' %}">Ver preguntas</a>        
</body>
</html>

